@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,800&family=Noticia+Text&display=swap');

:root{ 
    --color1: #1E3B30;
    --color2: #3C3315;
    --color3: #ffffff;
    --color4: #679184;
    --color5: #d6d6d686;
}
/* BANNER PRINCIPAL/*/

section {
    position: relative;
    top: 10vh;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bannerPrincipal  {
    position: relative;
    width: 90%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: calc(7vh);
    margin-bottom: 6em;
}

.banner-img {
    width: 50%;
    height: calc(100vh/1.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.banner-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
  }

.banner-text {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.banner-text h1 {
    font-family: 'Newsreader' , normal; 
    font-size: calc(90vh/12);
    font-weight: 600 !important;
    line-height: 1em;
    color: black;
    -webkit-text-stroke: black .8px !important;
    margin-bottom: .9em;
}

.banner-text p {
    font-family: 'Newsreader', normal;
    -webkit-text-stroke: var(--color2) .8px !important;
    line-height: 1em;
    font-size: calc(100vh/18);
    color: var(--color2);
}

/*  Responsive */

@media screen and (max-width: 1510px) {
  
    .bannerPrincipal  {
        gap: calc(10vh);
    }
        
    .banner-text h1 {
        font-size: calc(90vh/12.5);
    }

    .banner-text p {
        font-size: calc(100vh/19);
    }
}

@media screen and (max-width: 1390px) {

    .banner-text h1 {
        font-size: calc(85vh/13);
    }

    .banner-text p {
        font-size: calc(90vh/19);
    }
}

@media screen and (max-width: 1250px) {

    .banner-text h1 {
        font-size: calc(80vh/13);
    }

    .banner-text p {
        font-size: calc(85vh/19);
    }
}

@media screen and (max-width: 1050px) {

    
    .bannerPrincipal  {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 0em;
        margin-bottom: 6em;
    }
    
    .banner-img {
        width: 100%;
        height: 80vh;
      }
      
    .banner-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
    .banner-text {
        position: absolute;
        width: 100%;
        background-color: var(--color5);
        padding: 4em 0em;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .banner-text h1 {
        font-size: 8vh;
    }
    
    .banner-text p {
        font-size: 5vh;
    }
}

@media screen and (max-width: 690px) {
    .bannerPrincipal  {
        width: 100%;
    }

    .banner-text{
        height: 100%;
    }

    .banner-text h1 {
        font-size: 6vh;
        padding: 0em 2em;
        margin-bottom: .9em;
    }
    
    .banner-text p {
        padding: 0em 1em;
        font-size: 4vh;
    }
}

@media screen and (max-width: 450px) {
    .banner-text h1 {
        font-size: 5vh;
        padding: 0em 4em;
        margin-bottom: .9em;
    }
    
    .banner-text p {
        font-size: 3.5vh;
        padding: 0em 2em;
    }
}

@media screen and (max-width: 690px) and (min-height:960px){

    .banner-text h1 {
        font-size: 5vh;
        padding: 0em 2em;
        margin-bottom: .9em;
    }
    .banner-text p {
        font-size: 3.2vh;
        padding: 0em 2em;
    }
}

@media screen and (max-width: 370px) {
    .banner-text h1 {
        font-size: 3.8vh;
        padding: 0em 4em;
        margin-bottom: .9em;
    }
    .banner-text p {
        font-size: 3.2vh;
        padding: 0em 2em;
    }
}

@media screen and (max-width: 440px) and (min-height:960px){

    .banner-text h1 {
        font-size: 4vh;
        padding: 0em 2em;
        margin-bottom: .9em;
    }
    .banner-text p {
        font-size: 3.2vh;
        padding: 0em 2em;
    }
}

/* BANNER SECUNDARIO/*/

.bannerSecundario {
    grid-template-rows: repeat(auto-fit, minmax(50%, 1fr));
    grid-gap: 70px;
    grid-auto-rows: min-content;
    justify-items: center;
    overflow: hidden;
    margin-bottom: 3em;
}

.banner2 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.banner2 img {
    position:relative;
    width: 50%;
}

.banner2-div {
    background: #679184;
    width: 50%;
    text-align: center;
    justify-content: center;
    padding:2em;
    display: flex;
    flex-direction: column;
}

.banner2-div h2 {
    width: 70%;
    color: var(--color3);
    -webkit-text-stroke: var(--color3) .5px !important;
    font-family: 'Noticia Text', serif;
    margin: auto;
    font-size: 5vh;
    text-align: center;
}

.banner2-div p {
    font-family: 'Noticia Text', serif;
    width: 80%;
    color: #000;
    -webkit-text-stroke: #000 .5px !important;
    margin: auto;
    font-size: 3vh;
}


/* Responsive */

@media screen and (max-width:1390px) and(min-height:910px){

    .banner2 {
        width: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }
    
    .banner2 img {
        width: 90%;
        height: 100%;
    }
    .banner2-div h2 {
        font-size: 4vh;
    }

    .banner2-div p {
        font-size: 2.5vh;
    }

}

@media screen and (max-width:1390px){


.banner2 img {
    position:relative;
    width: 50%;
}

.banner2-div {
    background: #679184;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding:2em;
    display: flex;
    flex-direction: column;
}

.banner2-div h2 {
    width: 90%;
    padding-bottom: .5em;
}

.banner2-div p {
    width: 90%;
}
}

@media screen and (max-width:1050px){

    .banner2 {
        width: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }
    
    .banner2 img {
        width: 90%;
        height: 100%;
    }
    .banner2-div h2 {
        font-size: 4vh;
    }

    .banner2-div p {
        font-size: 2.5vh;
    }

}

@media screen and (max-width:690px){
    .banner2 img {
        width: 90%;
        height: 100%;
    }
    .banner2-div h2 {
        width: 100%;
        font-size: 3.5vh;
    }

    .banner2-div p {
        width: 100%;
        font-size: 2.2vh;
    }

}

@media screen and (max-width:490px){
    .banner2 img {
        width: 100%;
        height: 100%;
        margin-bottom: 1em;
    }
    .banner2-div h2 {
        width: 100%;
        font-size: 3.5vh;
    }

    .banner2-div p {
        width: 100%;
        font-size: 2.2vh;
    }

}

/* SOMOS CARDS /*/


.who{    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(85deg, rgba(60, 51, 21, 0.74) 0%, rgba(47, 38, 15, 0.74) 0%, rgba(45, 32, 7, 0.60) 68.75%, rgba(47, 38, 15, 0.36) 100%);
}
.somos {
    width: 100%;
    padding: 3em 3em;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    gap: 2em;
}

.somos-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6em;
}

.somos-border {
    width: 31.7vh;
    height: 37.8vh;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.47);
    display: grid;
    overflow: hidden;

}

.somos-border img {
    margin: auto;
    max-width: 100%;
    height: 36.4vh;
    flex-shrink: 0;
}

.somos-nosotros {
    position: relative;
    background: rgba(255, 255, 255, 0.65);
    top: -7em;
    width: 100%;
    padding: 1.5em 0em;
    line-height: 5vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.somos-nosotros h4 {
    font-family: 'Newsreader', serif;
    font-size: 2.5vh;
    font-weight: 600;
}

.somos-nosotros p {
    font-family: 'Newsreader', serif;
    font-weight: 400;
}

.somos-quienes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.somos-quienes h4 {
    display: flex;
    width: 729px;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    color: #2B2207;
    text-align: center;
    font-family: 'Newsreader', serif;
    font-size: 4vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.somos-quienes p {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: 'Noticia Text', serif;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*  Responsive  */
@media screen and (max-width:1810px) and (min-height:1050px){
    
    .somos {
        width: 100%;
        padding: 3em 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        gap: 2em;
    }
    
    .somos-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 6em;
    }   

    .somos-quienes p {
        text-align: center;
    }
}

@media screen and (max-width:1390px) and (min-height:820px){
    
    .somos {
        width: 100%;
        padding: 3em 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        gap: 2em;
    }
    
    .somos-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 6em;
    }   

    .somos-quienes p {
        text-align: center;
    }
}
@media screen and (max-width: 1050px){
    .somos {
        width: 100%;
        padding: 3em 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        gap: 2em;
    }
    
    .somos-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 6em;
    }   

    .somos-quienes p {
        text-align: center;
    }
}

@media screen and (max-width:890px) {
    .somos-div {
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        gap: 6em;
        margin-bottom:3.5em;
    }
}

@media screen and (max-width:590px){
    
    .somos {
        align-items: center;
        justify-content: center;
    }
    .somos-div{
        display: flex;
        margin: auto;
        flex-direction: column;
        margin: initial;
        margin-bottom: 2em;
    }

    .somos-quienes h4 {
        font-size: 4.5vh;
    }

    .somos-quienes p {
        font-size: 2.5vh;
        padding: 0em 5em;
        text-align: justify;
    }
}


@media screen and (max-width:470px){
    
    .somos-quienes h4 {
        font-size: 4.2vh;
    }

    .somos-quienes p {
        font-size: 2.5vh;
        padding: 0em 8em;
        text-align: center;
    }
}

/* BOTON WHATSAPP/*/


.main-escribenos{
    width: 100%;
    height: 35vh;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    padding: 5vh;
    margin-bottom: 5em;
}
.main-escribenos h3{
    font-family: 'Noticia Text', serif;
    font-weight: bold;
    font-size: 5vh;
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.boton-escribe{
    font-family: 'Newsreader', serif;
    background: #192C31;
    color: #fff;
    font-size: 4vh;
    width: 50vh;
    padding: 2vh;
    text-align: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.boton-escribe:hover{
    background: red;
    transition: .3s ease-in
}
.boton-doble{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5em;
    padding: 5vh 0 0 0;
}
.boton-doble button{
    width: 40%;
    padding: 1em 2em;
    text-align: center;
    background: #192C31;
    color: #FFF;
    font-size: 4vh;
    font-family: 'Newsreader', serif;
    border: none;
    height: 8vh;
    padding: 0 0 10vh 0;
    cursor: pointer;
}
.visible {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  