@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,800&family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Newsreader:opsz,wght@6..72,400;6..72,800&family=Noticia+Text&display=swap');
/* CONTACTO */
.contenido{
    height: 80%;
}
.mainContacto{
    width: 95%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4em;
    margin-bottom: 5em;
    padding: 5em 0;
}

.contacto-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin:auto;
    font-family: 'Newsreader', serif;
}
.contacto-left h1{
    font-weight: bold;
    font-size: 3em;
}
.contacto-left p{
    font-size: 1.5em;
    text-align: justify;
}

.contacto-right{
    width: 35%;
}
.contacto-number{
    display: flex;
    margin: 1vh;
    flex-direction: row;
    align-items: center;
    font-family: 'Newsreader', serif;
}
.contacto-number h2{
    margin: 0 0 0 3vh;
    font-weight: bold;
}
.rectangulo{
    width: 7px;
    height: 30px;
    background: #679184;
}
.contacto-right a{
    font-family: 'Newsreader', serif;
    font-size: 1.3em;
    margin: 0 0 0 6vh;
    text-decoration: none;
    color: #000;
}
.contacto-right a:hover{
    color: #679184;
}

/* RESPONSIVE */

@media screen and (max-width: 750px){
    .mainContacto{
        width: 90%;
        display: grid;
        margin: auto;
        top: 5em;
        margin-bottom: 10em;
        position: relative;
    }
    .contacto-left{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: 'Newsreader', serif;
        margin: auto;
    }
    .contacto-left h1{
        font-weight: bold;
        font-size: 2em;
    }
    .contacto-left p{
        font-size: 1em;
    }
    .contacto-right{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .contacto-number h2{
        font-size: 1.3em;
    }
    .contacto-right a{
        font-size: 1.1em;
    }

}

@media screen and (max-width:500px){
    .contacto-right{
        display: grid;
        justify-content: left;
    }
}

@media screen and (max-width:350px){

    .contacto-left{
        text-align: center;
    }

    .contacto-number{
        padding: 0em 1em;
    }
    .contacto-right{
        display: grid;
        justify-content: center;
    }
    .contacto-right a{
        display: flex;
        justify-content: center;
        margin: 0 0 0 0;
        padding: 0;
        text-align: center;
    }
}