:root{ 
    --color1: #1E3B30;
    --color2: #3C3315;
    --color3: #ffffff;
    --color4: #679184;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: var(--color3);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: hidden;
}

.menu{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.menu .logo{
    display: inline-flex;
    justify-items: center;
    margin-right: 4.5em;
    margin-left: 1em;
    padding: .2em .5em;
}

.menu .logo p{
    font-size: 2.8vh;
    font-family: 'Lora';
    color: var(--color1);
    -webkit-text-stroke: var(--color1) 1.1px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: .5em;
}

.menu .logo img{
    max-width: 85vh;
    max-height: 10vh;
}
.logo button{
    border: none;
}
.menu .btn-menu{
    display: none;
}

.menu .enlaces{
    display: inline-block;
    text-align: right;
    align-items: center;
    justify-content: center;
}

.menu .enlaces a{
    color: var(--color2);
    text-decoration: none;
    padding: .7em;
    font-size: 3vh;
    -webkit-text-stroke: var(--color2) .9px;
    font-family: 'Lora';
    text-align: center;
}


.menu .enlaces a:hover{
    color: var(--color4);
    -webkit-text-stroke: var(--color4) .7px;
    transition: .4 ease;
  
}


.headroom{
    transition: transform .3s ease;
}

.headroom--pinned{
    transform: translateY(0%);
}

.headroom--unpinned{
    transform: translateY(0%);
}

/* PROPIEDADES PARA DISP MOV */

@media screen and (max-width:1179px){

    header .menu{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    header .menu .logo{
        display: flex;
        flex-direction: row;
        justify-items: left;
        margin-right: 0em;
        margin-left: 0em;
        padding: 0em;
        width: 75%;
    }
    .menu .logo p{
        display: none;
    }
    header .menu .enlaces{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    header .menu .btn-menu{
        position: absolute;
        display: inline-block;
        color: var(--color1);
        font-size: 3em;
        right: 0.5em !important;
        top: 0em !important;
    }
}