@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,800&family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Lora&family=Newsreader:opsz,wght@6..72,400;6..72,800&family=Noticia+Text&display=swap');


/*  BANNER */

.contenido{
    max-width: 1980px;
    margin: auto;
}

.bannern {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 3em;
    margin-bottom: 6em;
    color: #fff;
    font-family: 'Newsreader', serif;
}

.banner-nostros-texto {
    width: 50%;
    height: 370px;
    background: rgba(37, 98, 80, 0.79);
    display: grid;
    justify-content:center;
    z-index: 1;
}

.banner-nostros-texto h1 {
    font-weight: bold;
    width: 80%;
    height: 40%;
    display: flex;
    margin: auto;
    font-size: 3.5em;
}

.banner-nostros-texto p {
    width: 80%;
    height: 80%;
    font-size: 1.3em;
    display: flex;
    margin: auto;
}

.banner-nosotros-img {
    width: 50%;
    height: 370px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-nosotros-img img{
    width: 100%;
    height: 370px;
    object-fit: cover;
}

@media screen and (max-width: 1050px){

    .banner-nostros-texto{
        position: absolute;
        width: 100%;
        background: rgba(11, 37, 30, 0.822);
        padding: 3em 0;

    }

    .banner-nostros-texto h1 {
        height: auto;
    }
    .banner-nostros-texto p {
        height: auto;
    }
    .banner-nosotros-img {
        width:100%;
    }
    
    .banner-nosotros-img img{
        width:100%
    }
}

@media screen and (max-width: 600px){

 
    .banner-nostros-texto p{
        text-align: justify;
    }
    .mision-vision-container{
        flex-direction: column;
    }

}

@media screen and (max-width: 525px){

 

    .banner-nostros-texto h1{
        font-size: 3em;
        text-align: center;
    }
    .banner-nostros-texto p{
        font-size: 1.2em;
        text-align: justify;
    }

}

@media screen and (max-width: 400px){

    .banner-nostros-texto h1{
        width: 85%;
        font-size: 2.7em;
        text-align: center;
    }

    .banner-nosotros-img img{
        width:100%;
        height: 300px;
    }

    .banner-nostros-texto p{
        font-size: 1em;
        text-align: center;
    }

}


/*  ANUNCIO */



.nosotros-anuncio {
    background: rgba(103, 145, 132, 0.38);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.47);
    width: 100%;
    font-size: 2em;
    font-family: 'Newsreader', serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
}

.nosotros-anuncio p {
    margin: auto;
}

.text-green {
    color: rgba(11, 37, 30, 0.637);
}

.text-anuncio {
    width: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: .5em 0;
    font-weight: 500;
}


@media screen and (max-width: 1050px){
    .nosotros-anuncio {
        font-size: 1.8em;
    }
}


@media screen and (max-width:600px){

    .text-anuncio{
        width: 90%;
    }
    .nosotros-anuncio {
        font-size: 1.6em;
    }
}

@media screen and (max-width:390px){
    .text-anuncio{
        width: 80%;
    }
    .nosotros-anuncio {
        font-size: 1.5em;
    }
    
}


/* PREGUNTA */
.nosotros-pregunta{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Newsreader', serif;
    margin-bottom: 3em;
}
.nosotros-pregunta h2{
    width: 80%;
    margin: auto;
    font-weight: bold;
    font-size: 2em;
}
.nosotros-pregunta p{
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 1.5em;
}


@media screen and (max-width: 700px){
    .nosotros-pregunta p{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 380px){
    .nosotros-pregunta h2{
    text-align: center;
    width: 90%;
    font-size: 1.8em;
    }
    .nosotros-pregunta p{
        width: 85%;
        font-size: 1em;
    }
}

/* MISION - VISION */
.mision-vision-container{
    width: 95%;
    margin: auto;
    overflow: hidden;
    display: flex;
    font-family: 'Newsreader', serif;
    margin-bottom: 3em;
}

.mision-vision-img{
    width: 50%;
    display: flex;
    justify-content: center;
}
.mision-vision-container img{
    width: 100%;
    object-fit: cover;
    mix-blend-mode: darken;
    filter: hue-rotate(60deg);

}
.mision-vision-div{
    width: 50%;
    fill: rgba(217, 217, 217, 0.80);
    gap: 2em;
    display: flex;
    text-align: justify;
    flex-direction: column;
}
.mision{
    width: 90%;
    margin: auto;
}
.mision h3{
    font-weight: 700;
    font-size: 2em;
    color: rgba(37, 98, 80, 0.70);
}
.mision div{
    background: #AECDC4;
    padding: 3vh;
}
.mision div p{
    font-size: .9em;
}
.vision{
    width: 90%;
    margin: auto
}
.vision h3{
    font-weight: 700;
    font-size: 2em;
    color: rgba(37, 98, 80, 0.70);
    text-align: right;
}
.vision div{
    background: #AECDC4;
    padding: 3vh;
}
.vision div p{
    font-size: .9em;
}


@media screen and (max-width:1050px){

    .mision-vision-img{
        display: none;
    }
    
    .mision-vision-div{
        width: 100%;
    }
}

@media screen and (max-width:360px){
    .mision-vision-div{
        text-align: left;
    }
    .mision h3{
        text-align: center;
    }

    .vision h3{
        text-align: center;
    }
}


/* VALORES */
.valores{
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(174, 205, 196, 0.49);
    font-family: 'Newsreader' !important;
    margin-bottom: 3em;
}
.valores h2{
    color: rgba(37, 98, 80, 0.79);
    font-weight: 700;
    padding: 1em 0;
    font-size: 2em;
}
.valores-container{
    width: 95%;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
}
.valores-div{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:auto;
    text-align: center;
}
.valores-div h3{
    font-size: 1.8em;
}
.valores-container-img{
    height: 200px;
    justify-content: center;
    display: flex;
    margin: auto;
    overflow: hidden;
    margin-bottom: 1em;
}

.valores-container-img img{
    width: 100%;
    object-fit: cover;
}







.nosotros-equipo{
    width: 100%;
    height: auto;
    overflow: hidden;
    font-family: 'Newsreader' !important;
    margin-bottom: 9em;
}
.equipo-container-text{
    width: 100%;
    text-align: center;
    background: #67918480;
    margin-bottom: 4em;
}
.equipo-container-text h2{
    padding: .3em 0;
    font-size: 2.5em;
    font-weight: 700;
    align-self: center;
    display: flex;
    justify-content: center;
}

.equipo-fotos-container{
    width: 95%;
    padding: 2em 0;
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    justify-content: center;
}
.equipo-fotos{
    position: relative;
    width: 250px;
    height: 340px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.47);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.equipo-fotos img{
    margin: auto;
    position: relative;
    top: 5px;
    width: 230px;
    height: 320px;
    flex-shrink: 0;
}
.equipo-fotos-datos{
    position: relative;
    background: rgba(196, 196, 196, 0.774);
    top: -4em;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.equipo-fotos-datos div{
    padding: .2em 0;
    width: 100%;
    margin: auto;
    display: grid
}
.equipo-fotos-datos div h4{
    font-size: 1.3em;
    padding: .5em 0 0 .5em;
    font-weight: 600;
}
.equipo-fotos-datos div p{
    font-weight: bold;
    font-size: 1em;
    padding: 0 0 0 .5em;
    color: #4E4E4E;
}
.equipo-fotos-datos a{
    align-items: center;
    display: flex;
    justify-content: center;
}
.equipo-fotos-datos i{
    position: absolute;
    right: .2em;
    font-size: 2em;
    bottom: .5em;
    margin: auto;
    color: #0172AC;
}
